# Python cache files
__pycache__/
*.py[cod]

# Environment
.env
venv
venv-3.8

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Ignore datasets
/data/raw/*
/data/raw2/*
/data/processed/*